/* This file imports all of your scss partials to be compiled into one stylesheet, which you can then attach to your html.

All files that are prefixed with an underscore "_name-of-file.sccs" are called partials - meaning their css isn't compiled unless it's imported into an unprefixed .scss file */
/* This file contains all our variables */
/* Variables are placeholders for storing information that you want to reuse throughout your styles. You can store colours, font stacks, or any css value you think you might want to resuse. SCSS uses the '$' symbol to declare variables. */
/* This file contains all our mixins */
/* This is our main file for css/sass */
/* line 3, /Users/Stacey/School/Graphic Design/Graphic Design Year 3/Semester 2/Web Dev:Interactive/Exercises/exercise-2-scss-new/scss/components/main */
body {
  background-color: #f5f5f5;
  font-family: sans-serif; }

/* line 8, /Users/Stacey/School/Graphic Design/Graphic Design Year 3/Semester 2/Web Dev:Interactive/Exercises/exercise-2-scss-new/scss/components/main */
.primary-btn {
  background-color: #3498db;
  border-radius: 3px;
  padding: 0.5em 1em;
  margin: 1em;
  display: inline-block;
  text-decoration: none;
  color: #fff; }
  /* line 11, /Users/Stacey/School/Graphic Design/Graphic Design Year 3/Semester 2/Web Dev:Interactive/Exercises/exercise-2-scss-new/scss/mixins */
  .primary-btn:hover {
    background-color: #2980b9; }

/* line 12, /Users/Stacey/School/Graphic Design/Graphic Design Year 3/Semester 2/Web Dev:Interactive/Exercises/exercise-2-scss-new/scss/components/main */
.secondary-btn {
  background-color: #aaa;
  border-radius: 3px;
  padding: 0.5em 1em;
  margin: 1em;
  display: inline-block;
  text-decoration: none;
  color: #000; }
  /* line 11, /Users/Stacey/School/Graphic Design/Graphic Design Year 3/Semester 2/Web Dev:Interactive/Exercises/exercise-2-scss-new/scss/mixins */
  .secondary-btn:hover {
    background-color: #666; }

/* line 16, /Users/Stacey/School/Graphic Design/Graphic Design Year 3/Semester 2/Web Dev:Interactive/Exercises/exercise-2-scss-new/scss/components/main */
.border, ul {
  border: 1px solid #666; }
  /* line 18, /Users/Stacey/School/Graphic Design/Graphic Design Year 3/Semester 2/Web Dev:Interactive/Exercises/exercise-2-scss-new/scss/components/main */
  .border p, ul p {
    color: green; }

