/* This file contains all our mixins */

@mixin button($bg-color, $color, $hover-color){
    background-color: $bg-color;
    border-radius: 3px;
    padding: .5em 1em;
    margin: 1em;
    display: inline-block;
    text-decoration: none;
    color: $color;
    &:hover{
        background-color:$hover-color}
}